<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.dao.user.UserDao">
    <resultMap id="UserResultMap" type="com.example.springboot.model.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="password" column="password" />
    </resultMap>

    <insert id="insertUser">
        INSERT INTO user (name, password, avatar)
        VALUES (#{user.name}, #{user.password}, #{user.avatar})
    </insert>

    <select id="findUserById" resultType="com.example.springboot.model.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="findAllUser" resultType="com.example.springboot.model.User">
        SELECT *
        FROM user
    </select>

    <select id="insertUsers">
        INSERT INTO user (name, password, avatar) VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (#{user.name}, #{user.password}, #{user.avatar})
        </foreach>
    </select>


</mapper>